.loadingMessage {
  color: white;
}

.loadingMessageHidden {
  display: none;
}

.newPointContainer {
  width: 70%;
}

.newPointContainer form {
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #F7AF9D;
  padding: 1%;
}

.newPointContainer form input {
  background-color: rgba(245, 245, 245, 0.521);
  border: none;
  border-radius: 20px;
  padding: 2%;
}

.newPointContainer button {
  background-color: rgba(245, 245, 245, 0.521);
  border: none;
  border-radius: 20px;
  padding: 20%;
}

.newPointContainer button:hover {
  background-color: #151E3F;
  color: white;
}

.newPointContainer button:disabled:hover {
  background-color: rgba(245, 245, 245, 0.521);
  color: black;
}