.loadingMessage {
  color: white;
}

.loadingMessageHidden {
  display: none;
}

.newPointContainer {
  width: 70%;
}

.newPointContainer form {
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #EAC435;
  padding: 1%;
}

.newPointContainer form input {
  background-color: #446DF6;
  border: none;
  border-radius: 20px;
  padding: 2%;
}

.newPointContainer button {
  background-color: #446DF6;
  border: none;
  border-radius: 20px;
  padding: 20%;
}

.newPointContainer button:hover {
  background-color: #00635D;
  color: #EAC435;
}