svg {
  border-left: 1px solid #B5EF8A;
  /* border-right: 1px solid #B5EF8A; */
}

.dataContainer {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  border-bottom: 1px solid #B5EF8A;
  border-top: 1px solid #B5EF8A;
  border-left: 1px solid #B5EF8A;
}

.dataContainer div {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer p {
  border-bottom: 1px solid black;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer p:last-child {
  border-bottom: none;
}

.dataContainer button {
  border: none;
}

.dataContainer button:hover {
  background-color: red;
  color: white;
}

.dataContainerHidden {
  display: none;
}

.pointHeader{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  /* background-color: red; */
}

.pointHeader button {
  height: fit-content;
  padding: 1.5%;
  border-radius: 10px;
  border: none;
}

.pointHeader button:hover {
  background-color: black;
  color: white;
}