svg {
  border-left: 2px solid #B5EF8A;
  border-right: 2px solid #B5EF8A;
}

.dataContainer {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  border-bottom: 2px solid #B5EF8A;
  border-top: 2px solid #B5EF8A;
  border-left: 2px solid #B5EF8A;
}

.dataContainer div {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer p {
  border-bottom: 1px solid black;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataContainer div :nth-child(2) {
  border-top: 1px solid black;
}

.dataContainer p:last-child {
  border-bottom: 1px solid black;
}

.dataContainer button {
  border: none;
  border-right: 2px solid #B5EF8A;
  background-color: #446DF6;
}

.dataContainer button:hover {
  background-color: rgba(255, 0, 0, 0.44);
  color: white;
}

.dataContainerHidden {
  display: none;
}

.pointHeader{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  border-radius: 20px;
  background-color: #00635D;
}

.pointHeader button {
  height: fit-content;
  padding: 1.5%;
  border-radius: 10px;
  border: none;
  background-color: #446DF6;
}

.pointHeader button:hover {
  background-color: #EAC435;
  color: #00635D;
}