body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

li::marker {
  display: none;
}